html,
body {
    height: 100%;
}

#header {
    height: 200px;
    background-color: cornsilk;
    border-bottom: 1px solid black;
    overflow: inherit;
    background-color: beige;
}

#logo {
    position: absolute;
    left: 100px;
    top: 30px;
    width: 100px;
    height: 100px;
}

#nav {
    position: absolute;
    right: 10%;
    margin-top: 30px;
    height: 50px;
    font-size: 14px;
    text-align: center;
    z-index: 999;
}

#nav ul {
    list-style: none;
}

#nav > ul > li {
    float: left;
    width: 100px;
    height: 10px;
}

ul li ul {
    display: none;
    padding: 5px;
}

#nav ul li a {
    padding: 5px;
    text-decoration: none;
    display: block;
    color: black;
}

ul li ul li a {
    float: none;
    color: white;
    text-align: center;
}


#nav ul li:hover > ul {
    background-color: #003366;
}

#nav ul li:hover a {
    background-color: #003366;
    color: white;
}

#nav ul li:hover ul {
    display: block;
}

#nav ul li ul li a:hover {
    background-color: white;
    color: black;
}


#header #logo img {
    width: 100%;
    height: 100%;
}

#header-bottom {
    position: absolute;
    top: 150px;
    left: 0px;
    padding: 10px;
    height: 30px;
    width: 100%;
    background-color: #003366;
    text-align: center;
}

#header-bottom > #reserve {
    position: relative;
    top: 5px;
    display: inline-block;
    text-align: center;
}

#reserve div {
    display: block;
    float: left;
    margin-right: 10px;
}

#reserve div input, select {
    background-color: #004d99;
    padding: 2px;
    border: none;
    position: relative;
    color: white;
}

.check-date {
    color: white;
}

::placeholder {
    color: white;
}

#check-submit {
    background-color: orange;
    padding: 3px;
    border: none;
    color: #000066;
}

#footer {
    position: relative;
    border-top: 1px solid black;
    background-color: cornsilk;
    text-align: left;
    max-width: 1920px;
    margin: 10px auto 0 auto;
    padding: 30px;
    box-sizing: border-box;
}

#footer h2 {
    font-size: 18px;
    color: #333;
    font-weight: 400;
    line-height: 24px;
}

.footer_center {
    position: absolute;
    top: 50px;
    right: 120px;
}

#footer address {
    font-size: 15px;
    color: #666;
    line-height: 24px;
}

.question .question_title {
    font-size: 18px;
    color: #333;
    font-weight: 400;
    padding-bottom: 8px;
    margin-bottom: 8px;
    border-bottom: 1px solid #b2b2b2;
}

.question .question_txt {
    font-size: 28px;
    color: #333;
    font-weight: 400;
}

#footer address span {
    display: block;
}

ul > #temp {
    font-size: 18px;
}



label {
    
}
