@import url(https://cdn.rawgit.com/openhiun/hangul/14c0f6faa2941116bb53001d6a7dcd5e82300c3f/nanumbarungothic.css);

body {
	font-family: 'Nanum Barun Gothic', sans-serif;
}

#answer {
	position: relative;
	width: 100%;
	height: auto;
}

#answer>div {
	display: block;
	position: relative;
	width: 80%;
	margin: 10px auto;
	box-sizing: border-box;
}

#answer>div>div {
	display: inline-block;
	line-height: 140%;
	width: 49%;
	height: 200px;
	background-color: #eee;
	vertical-align: middle;
	text-align: left;
}

#answer>div>div>img {
	position: relative;
	display: inline;
	transition: width .3s;
}

#answer>div>div>p {
	display: inline;
	font-size: 17px;
	transition: font-size .3s;
}

@media only screen and (max-width:1150px) {
	#answer>div>div>img {
		height: 8%
	}
	#answer>div>div>p {
		font-size: 12px;
	}
}