* {
	margin: 0;
	padding: 0;
}

body {
	width: 1700px;
	height: 2600px;
	overflow: auto;
}

.v {
	position: relative;
	text-align: center;
}
#reserve2V {
	margin-top: 60px;
}

#reserve-form-wrapper-wrapper {
    height: 2400px;
}

#reserve-form-wrapper {
	position: relative;
	margin-top: 2%;
	width: 100%;
	height: 1800px; /*height : 800px*/
	text-align: center;
}

.reserveForm {
	height: 850px;
	text-align: center;
}

.subject {
	font-size: 30px;
}

.sub-line {
	height: 3px;
	width: 149px;
	background-color: orange;
	margin: auto;
}

#reserve1-top {
	width: 100%;
	margin-top: 60px;
}

div#img {
	display: inline-block;
}

#img img {
	width: 360px;
	height: 340px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0
		rgba(0, 0, 0, 0.19);
}

#description {
	display: inline-block;
	width: 600px;
	height: 340px;
	margin-left: 60px;
	border-radius: 5px;
	overflow: auto;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0
		rgba(0, 0, 0, 0.19);
}

#description dl {
	margin-top: 40px;
	margin-left: 30px;
}

#description dt {
	text-align: left;
	font-size: 20px;
}

#description dd {
	text-align: left;
	font-size: 15px;
	margin-bottom: 30px;
}

#reserve1-bottom {
	display: inline-block;
	position: relative;
	margin: 30px auto 0 auto;
	width: 100%;
	height: 200px;
}

#amenity {
	display: inline-block;
	width: 40%;
	height: 300px;
}

.amenity-col {
	margin-top: 20px;
	float: left;
	width: 230px;
	height: 100px;
	display: inline;
}

#amenity div {
	margin: 10px auto;
	height: 30px;
	width: 50%;
}

.limg {
	width: 24px;
	height: 24px;
}

#facility {
	display: inline-block;
	width: 40%;
	height: 300px;
}

#facility .facil {
	border: 1px solid darkgrey;
	border-radius: 5px;
	width: 140px;
	height: 140px;
	float: left;
	margin-right: 40px;
	margin-top: 10px;
}

.facil {
	text-align: center;
}

#reserve1 table {
	margin-left: 80px;
}

#reserve1 table, #reserve1 td, #reserve1 th {
	border: 1px solid black;
	/* border-collapse: collapse; */
}

#reserve1 td, #reserve1 th {
	width: 70px;
	height: 30px;
	padding: 10px;
	padding-left: 15px;
	padding-right: 15px;
	text-align: center;
	border-radius: 15px;
}

.facilimg {
	width: 30px;
	height: 30px;
	display: block;
	position: relative;
	margin: 20px 30px 20px 54px;
}

#reserve2 #warning {
	margin: 3% auto 0 auto;
	border: 1px solid black;
	width: 580px;
	height: 500px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0
		rgba(0, 0, 0, 0.19);
	padding: 30px 40px 30px 50px;
}

#warning h3 {
	margin-bottom: 20px;
	text-align: center;
	margin-top: 15px;
}

#warning li {
	margin-bottom: 10px;
}

#reserve3 {
	margin-left: 10px;
	height: 740px;
	text-align: center;
}

#reserve3 #writing {
	position: relative;
	margin-top: 70px;
}

#reserve3 input {
	position: relative;
	border: none;
	border-bottom: 1px solid black;
	margin-top: 20px;
	top: 20px;
	font-size: 20px;
	width: 300px;
	height: 46px;
}

#reserve3 input.write {
	background-color: #e6e6e6;
}

#reserve3 ::placeholder {
	color: darkgrey;
}

#reserveInfo {
	display: inline-block;
	height: auto;
	width: 390px;
	text-align: left;
}

#reserveInfo h4 {
	position: relative;
	top: 15px;
	left: 10px;
}

#personInfo {
	position: relative;
	display: inline-block;
	vertical-align: top;
	height: 500px;
	width: 360px;
	left: 2%;
}

#payInfo {
	position: relative;
	display: inline-block;
	vertical-align: top;
	left: 4%;
	height: 500px;
	width: 390px;
}

#reserveInfo textarea {
	display: inline-block;
	margin-top: 45px;
	border: 1px solid black;
	border-radius: 10px;
	padding: 10px;
	width:85%;
}

.as {
	vertical-align: bottom;
	color: red;
	margin: 10px;
	font-size: 25px;
	position: relative;
	top: 10px;
}

#reserve3 td {
	border-bottom: 2px solid wheat;
	width: 350px;
	height: 65px;
	position: relative;
	border-bottom-style: dotted;
}

#reserve3 table span {
	text-align: right;
	float: right;
}

#bookBtn {
	background-color: #003366;
	color: white;
}

#bookBtn:hover {
	background-color: #000033;
	cursor: pointer;
}

#payInfo #cardImg {
	margin-top: 20px;
	width: 85%;
	height: 50px;
}

#payInfo #check1, #payInfo #check2 {
	height: 20px;
	width: 20px;
	display: inline-block;
	border: 1px solid blue;
}

#payInfo .check {
	position: relative;
	top: 16px;
	left: 10px;
}

#payInfo label {
	margin-right: 15px;
}

.radio {
	width: 15px !important;
	height: 15px !important;
	top: 0 !important;
	margin-right: 10px;
}

#bankPay {
	display: none;
}