html,
body {
    height: 100%;
}

.intro {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.intro .intro_wrap {
    position: relative;
    max-width: 1920px;
    height: 100%;
    margin: 0 auto;
}

.intro .intro_wrap .txt_wrap {
    
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 30;
}

.intro .txt_wrap .d_t {
    display: table;
    width: 100%;
    height: 100%;
}

.intro .txt_wrap .d_c {
    display: table-cell;
    width: 100%;
    vertical-align: middle;
}

.intro .intro_wrap video {
    object-fit: fill;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.intro .intro_wrap .av_wrap {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    background-size: cover;
}

#header .btn_menu {
    position: fixed;
    top: 30px;
    left: 30px;
    width: 60px;
    height: 60px;
    z-index: 5;
}

#header .btn_menu .img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 20;
}

.content > div {
    position: relative;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
}

#header {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
}

#footer {
    position: relative;
    border-top: 1px solid #ccc;
    text-align: left;
    max-width: 1920px;
    margin: 10px auto 0 auto;
    padding: 30px;
    box-sizing: border-box;
}

#header .pension {
    position: fixed;
    right: 30px;
    top: 25px;
    font-size: 36px;
    color: #644d9d;
    font-weight: 700;
    z-index: 300
}

.intro .txt_wrap .txt01 {
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 50px;
    width: 350px;
    margin: 0 auto;
    color: white;
}

.footer_center {
    position: absolute;
    top: 30px;
    right: 120px;
}

.footer_center > div {
    float: left;
    margin-left: 50px;
}

.question .question_title {
    font-size: 18px;
    color: #333;
    font-weight: 400;
    padding-bottom: 8px;
    margin-bottom: 8px;
    border-bottom: 1px solid #b2b2b2;
}

.question .question_txt {
    font-size: 28px;
    color: #333;
    font-weight: 400;
}

#footer h2 {
    font-size: 18px;
    color: #333;
    font-weight: 400;
    line-height: 24px;
}

#footer address {
    font-size: 15px;
    color: #666;
    line-height: 24px;
}

#footer address span {
    display: block;
}

.content > div .bg_wrap {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    transition: all 1.2s ease;
}

.produce_01 {
    height: 900px;
    overflow: hidden;
}

.produce_02 {
    height: 900px;
    overflow: hidden;
}

.produce_03 {
    height: 900px;
    overflow: hidden;
}

.produce_01 .txt_wrap {
    display: none;
    position: absolute;
    bottom: 147px;
    left: 0;
    width: 100%;
    text-align: center;
}

.produce_02 .txt_wrap {
    display: none;
    position: absolute;
    top: 10%;
    right: 10%;
    width: 100%;
    text-align: right;
}

.produce_03 .txt_wrap {
    display: none;
    position: absolute;
    top: 20%;
    left: 5%;
    width: 100%;
    text-align: left;
}

.produce_01 .bg_wrap {
    background-image: url(../images/index_image/main_01.jpg);
}

.produce_02 .bg_wrap {
    background-image: url(../images/index_image/main_02.jpg);
}

.produce_03 .bg_wrap {
    background-image: url(../images/index_image/main_03.jpg);
}

#btn_top_scroll {
    position: fixed;
    right: 50px;
    bottom: 60px;
    width: 33px;
    height: 33px;
    z-index: 20;
}

#btn_top_scroll > a {
    display: block;
    width: 100%;
    height: 100%;
}

.content > .diameter {
    width: 100%;
    height: 800px;
}

.diameter > div .bg_wrap {
    position: absolute;
    left: 0;
    top: 0;
    width: 500px;
    height: 500px;
}

.diameter > .bg_wrap {
    width: 100%;
    height: 100%;
    text-align: center;
}




.intro .txt_wrap .obj02 {
    position: absolute;
    bottom: 80px;
    left: 0;
    width: 100%;
    text-align: center;
}

.diameter .prev {
    position: absolute;
    left: 0;
    top: 0;
    width: 10%;
    height: 100%;
}

.diameter .next {
    position: absolute;
    right: 0;
    top: 0;
    width: 10%;
    height: 100%;
}

div > h1 {
    display: block;
    font-size: 2em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
    color: #666;
}

div > p {
    letter-spacing: 1px;
    line-height: 200%;
}

.prev a > img {
    width: 100%;
    height: 100%;
}

.prev > a {
    position: absolute;
    top: 25%;
    display: block;
    vertical-align: middle;
    width: 100%;
    height: 50%;
}

.next > a {
    position: absolute;
    top: 25%;
    display: block;
    vertical-align: middle;
    width: 100%;
    height: 50%;
}

.next a > img {
    width: 100%;
    height: 100%;
}

.diameter .diameter_bxslider{
    position: relative;
    display: block;
    width : 700px;
}

.diameter .txtwrap_01 {
    display: block;
    position: absolute;
    top: 30%;
    right: 10%;
    width: 700px;
    height: 300px;
    transition: right .5s;
}

.diameter .txtwrap_02 {
    display: none;
    position: absolute;
    top: 30%;
    right: 10%;
    width: 700px;
    height: 300px;
}

.diameter .txtwrap_03 {
    display: none;
    position: absolute;
    top: 30%;
    right: 10%;
    width: 700px;
    height: 300px;
}

#map {
    width: 100%;
    height: 400px;
}

.txt01 {
    font-size: 36px;
    color: #fff;
    font-weight: 100;
    line-height: 44px;
}

.txt02 {
    font-size: 18px;
    color: #fff;
    line-height: 26px;
    padding-top: 12px;
}

.txt03 {
    font-size: 18px;
    color: #fff;
    line-height: 26px;
    padding-top: 12px;
}

@media only screen and (max-width: 1670px) {
    .content > .diameter {
        text-align: center;
    }
    .diameter .txtwrap_01 {
        margin: auto;
        position: relative;
        text-align: left;
        display: block;
        top: 50%;
        right: 0;
    }

    .diameter .txtwrap_02 {
        margin: auto;
        position: relative;
        text-align: left;
        display: none;
        top: 50%;
        right: 0;
    }

    .diameter .txtwrap_03 {
        margin: auto;
        position: relative;
        text-align: left;
        display: none;
        top: 50%;
        right: 0;
    }
}


