#reserveListView-wrapper-wrapper {
	float: left;
	background-color: aliceblue;
	width: 988px;
}

#reserveListView-wrapper {
	width: 100%;
	border-radius: 10px;
	background-color: white;
	color: #243092;
	text-align: center;
}

#reserveListView {
	display: inline-block;
	width: 800px;
	height: 870px;
	background-color: white;
	border-radius: 10px;
	padding: 10px;
	text-align: left;
}

#resrveSubejct {
	height: 30px;
	line-height: 30px;
	margin-top: 20px;
	border-bottom: 1px dotted grey;
	border-top: 1px solid grey;
	text-align: left;
}

#resrveSubejct #subName {
	text-align: center;
	margin-left: 350px;
}

#resrveSubejct #subNum {
	text-align: right;
	margin-left: 270px;
}

#reserveViewTable, #personViewTable {
	margin-left: 40px;
}

#reserveViewTable, #personViewTable, #personViewTable th,
	#reserveViewTable th, #personViewTable td, #reserveViewTable td {
	border: 1px solid #10568e63;
	border-collapse: collapse;
	width: 700px;
	height: 50px;
}

#reserveViewTable th, #personViewTable th {
	background-color: aliceblue;
}

#reserveViewTable td, #personViewTable td {
	width: 700px;
	color: black;
}

#contentTr {
	height: 400px;
}

#reserveReturnBtn {
	width: 150px;
	background-color: #03a9f4;
	height: 30px;
	padding: 6px;
	border-radius: 6px;
	position: relative;
	top: 15px;
	color: white;
	text-decoration: none;
}

#reserveReturnBtn:hover {
	background-color: #0378ad;
}

#table-wrapper {
	display: inline-block;
	margin-top: 1%;
	width: 100%;
	text-align: center;
}

@media only screen and (max-width: 1190px){
	#reserveListView-wrapper{
		width:500px;
	}
}